@tailwind base;
@tailwind components;
@tailwind utilities;

/*
colors palate:
#212a31 = 206, 19.5, 16.1
#2e3944 = 210, 19.3, 22.4
#124e66 = 197, 70, 23.5 
#748D92 = 190, 12.1, 51.4
#D3D9D4 = 130, 7.3, 83.9
*/

@layer base {
  :root {
    --background: 206 19.5 16.1;
    --foreground: 190 12.1 51.4;
    --card: 210 19.3 22.4;
    --card-foreground: 190 12.1 51.4;
    --primary: 130 7.3 83.9;
    --secondary: 190 12.1 51.4;
    --muted-foreground: 190 12.1 51.4;
  }
}

@layer base {
  body {
    @apply bg-background;
  }
}
